
extends layout
block content
	.nav
		.nav-header
			| Manage My Code
		.nav-info
			#btn-logout
				a(href="#" title="Log Out")
					img(src="/img/退出账号.png")
			#btn-home
				a(href="/home" title="Editor")
					| Editor
	div#code-ls
		.well
			ul.demo-ls
				li.demo
					img(src="/img/code-logo.jpeg")
					div.code-control
						button.code_editor.btn
							|edit
						button.code_delete.btn
							|delete
					div.code-info
						p  Author:   
							span  #{udata.name}
						p  Time:    
							span #{udata.name}
				li.demo
					img(src="/img/code-logo.jpeg")
					div.code-control
						button.code_editor.btn
							|edit
						button.code_delete.btn
							|delete
					div.code-info
						p 
							| Author:    #{udata.name}
						p 
							| time:    #{udata.phone}
				li.demo
					img(src="/img/code-logo.jpeg")
					div.code-control
						button.code_editor.btn
							|edit
						button.code_delete.btn
							|delete
					div.code-info
						p 
							| Author:    #{udata.name}
						p 
							| time:    #{udata.phone}
				li.demo
					img(src="/img/code-logo.jpeg")
					div.code-control
						button.code_editor.btn
							|edit
						button.code_delete.btn
							|delete
					div.code-info
						p 
							| Author:    #{udata.name}
						p 
							| time:    #{udata.phone}
				li.demo
					img(src="/img/code-logo.jpeg")
					div.code-control
						button.code_editor.btn
							|edit
						button.code_delete.btn
							|delete
					div.code-info
						p 
							| Author:    #{udata.name}
						p 
							| time:    #{udata.phone}
				li.demo
					img(src="/img/code-logo.jpeg")
					div.code-control
						button.code_editor.btn
							|edit
						button.code_delete.btn
							|delete
					div.code-info
						p 
							| Author:    #{udata.name}
						p 
							| time:    #{udata.phone}
				li.demo
					img(src="/img/code-logo.jpeg")
					div.code-control
						button.code_editor.btn
							|edit
						button.code_delete.btn
							|delete
					div.code-info
						p 
							| Author:    #{udata.name}
						p 
							| time:    #{udata.phone}
				li.demo
					img(src="/img/code-logo.jpeg")
					div.code-control
						button.code_editor.btn
							|edit
						button.code_delete.btn
							|delete
					div.code-info
						p 
							| Author:    #{udata.name}
						p 
							| time:    #{udata.phone}
				li.demo
					img(src="/img/code-logo.jpeg")
					div.code-control
						button.code_editor.btn
							|edit
						button.code_delete.btn
							|delete
					div.code-info
						p 
							| Author:    #{udata.name}
						p 
							| time:    #{udata.phone}
		nav(aria-label="Page navigation")
			ul.pagination
				li
					a(href="#" aria-label="Previous") 
						span(aria-hidden="true") 
							|&laquo;
				li
					a(href= "#")
						|1
				li
					a(href= "#")
						|2
				li
					a(href= "#")
						|3
				li
					a(href= "#")
						|4
				li
					a(href= "#")
						|5
				li
					a(href="#" aria-label="Previous") 
						span(aria-hidden="true") 
							|&raquo;
		include modals/alert
		include modals/confirm

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(type='text/javascript')                                                   
		| var user = !{JSON.stringify(typeof(udata) != 'undefined' ? udata : { })};
	script(src='/js/controllers/navbarController.js')
	
